.containerz{
    margin-top: 30px;
}

.custom{
    margin: 40px;
    
}

.custom-cards{
    text-align: center;
    color: white;
    background-color: black;
    height: 40vh;
    border-radius: 15px;

}